<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
</head>
<body>
    <h1>Your Profile</h1>
    <!-- <p>Имя: <%= user.fname %> <%= user.lname %></p> -->
    <!-- <p>Email: <%= user.email %></p>

    <h2>Ваши события:</h2>
    <ul>
        <% events.forEach(event => { %>
            <li>
                <h3><%= event.title %></h3>
                <p><%= event.description %></p>
                <p>Дата: <%= event.date %></p>
                <p>Место: <%= event.location %></p>
                <% if (event.image) { %>
                    <img src="/<%= event.image %>" alt="<%= event.title %>" style="max-width: 200px;"/>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <a href="/create-event">Создать новое событие</a> -->
</body>
</html>